/.claude/commands/generate-epic.md
/.claude/commands/generate-impl-backend.md
/.claude/commands/generate-impl-BFF.md
/.claude/commands/generate-impl-frontend.md
/.claude/commands/generate-impl-mobile.md
/.claude/commands/generate-impl-qa.md
/.claude/commands/generate-pr.md
/.claude/commands/task-executor-backend.md
/.claude/commands/task-executor-BFF.md
/.claude/commands/task-executor-frontend.md
/.claude/commands/task-executor-mobile.md
/.claude/commands/task-executor-qa.md
/.claude/settings.local.json
/.github/ISSUE_EXAMPLE/screen-epic-example.md
/.github/ISSUE_TEMPLATE/bug-report.md
/.github/ISSUE_TEMPLATE/feature-epic.md
/.github/ISSUE_TEMPLATE/feature-impl-be.md
/.github/ISSUE_TEMPLATE/feature-impl-fe.md
/.github/ISSUE_TEMPLATE/feature-impl-mobile.md
/.github/ISSUE_TEMPLATE/feature-impl.md
/.github/pull_request_template.md
